@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
  }
  input {
    @apply rounded-md px-2 py-1;
  }
  iframe {
    @apply dark:invert;
  }
  button, [type='button'], [type='reset'], [type='submit'] {
    @apply rounded-md bg-zinc-200 dark:bg-zinc-800 select-none px-2 py-1 text-sm transition-colors duration-200 ease-in-out border-transparent border hover:bg-indigo-700;
  }
  label {
    @apply select-none;
  }
}
:root {


  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}